@font-face {
    font-family: 'dela_gothic_oneregular';
    src: url('./assets/fonts/Dela_Gothic_One/webfontkit-20221102-144326/delagothicone-regular-webfont.woff2') format('woff2'),
        url('./assets/fonts/Dela_Gothic_One/webfontkit-20221102-144326/delagothicone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interregular';
    src: url('./assets/fonts/Inter/webfontkit-20221102-144707/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
        url('./assets/fonts/Inter/webfontkit-20221102-144707/inter-variablefont_slntwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    height: auto;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: auto;
    background-image: url(./assets/img/filter.svg), linear-gradient(to top, rgba(20,20,23,0.549), rgba(20,20,23,0.549)), url(./assets/img/background_landscape.jpg);
    background-size: 512px, auto, cover;
    background-position: center, 0% 0%, center;
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: fixed;
    background-color: #F7F8FC;
    margin: 0;
}

h1 {
    color: #FFFFFF;
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.6rem;
    width: calc(100% + 0.5rem);
    line-height: 0.9;
    font-size: 4.4em;
    font-weight: 400;
    animation: fromTheLeft 2s;
}

@keyframes fromTheLeft {
    0% {
        margin-left: -100px;
        opacity: 0.1;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

.text {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.40rem;
    width: calc(100% + 0.325rem);
    font-size: 1.21em;
    line-height: 2.2;
    font-weight: 300;
    margin-bottom: 3em;
    animation: fromTheRight 2s;
}

@keyframes fromTheRight {
    0% {
        margin-left: 100px;
        opacity: 0.1;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}


.home_container, .footer_container  {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#child_container {
    width: 65%;
    height: 50%;
}

.next_section {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.5rem;
    padding: 30px 80px 35px 55px;
    font-weight: 400;
    font-size: 17px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    background-image: url(./assets/img/arrow.png);
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 78% 48%;
    transition: 0.3s;
    animation: fromTheBottom 2s;
}

.next_section:hover {
    transform: scale(1.04);
}

@keyframes fromTheBottom {
    0% {
        margin-top: 50px;
        opacity: 0.1;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.img_box {
    width: 50%;
    height: 100%;
}

.img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text_section {
    width: 50%;
    height: 100%;
    backdrop-filter: blur(15px) brightness(0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_child {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 4%;
}

.title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.52rem;
    width: calc(100% + 0.4rem);
    font-size: 1.02em;
    animation: fromTheTop 2s;
}

@keyframes fromTheTop {
    0% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0px;
    }
}

.headline {
    font-size: 2.6em;
    letter-spacing: 0.7rem;
    margin: 55px 0;
    animation: a 2s;
}

@keyframes a {
    0% {
        margin: 55px 0;
    }
    100% {
        margin: 55px 0;
    }
}

#align_right {
    text-align: right;
}

#child_footer_container {
    width: 63.5%;
    height: 50%;
    margin: 5.9em 2.5em 0 0;
}

#footer_title {
    font-size: 2.7em;
    letter-spacing: 0.65rem;
}

#footer_text {
    margin: 55px 0 65px 0;
}

#media_icon {
    width: 50%;
    display: flex;
    gap: 2.6em;
}

.social_media {
    width: 4.3em;
    height: 4.3em;
    border: 3px solid #FFFFFF;
    background-repeat: no-repeat;
    transition: 0.375s ease;
    animation: FadeFromBottom 1s;
}

@keyframes FadeFromBottom {
    0% {
        opacity: 0;
        margin-top: 80px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

.social_media:hover {
    transform: scale(1.1125);
}

#instagram {
    background: url('https://api.iconify.design/carbon/logo-instagram.svg?color=white') 
    no-repeat center center / contain;
    background-size: 63%;
}

#tiktok {
    background: url('https://api.iconify.design/akar-icons/tiktok-fill.svg?color=white') 
    no-repeat center center / contain;
    background-size: 59%;
    animation-duration: 1.4s;
}

#youtube {
    background: url('https://api.iconify.design/carbon/logo-youtube.svg?color=white')
    no-repeat center center / contain;
    background-size: 62%;
    animation-duration: 1.8s;
}

#twitter {
    background: url('https://api.iconify.design/mdi/twitter.svg?color=white') 
    no-repeat center center / contain;
    background-size: 58%;
    animation-duration: 2s;
}

#mail {
    background: url('https://api.iconify.design/ic/round-mail.svg?color=white') 
    no-repeat center center / contain;
    background-size: 62%;
    animation-duration: 2.4s;
}